.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;

  @media screen and (min-width: $min-tablet-size)
  //  and (max-width: 1023px) 
   {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }

  @media screen and (min-width: $min-desktop-size) {
    width: 1280px;
  }
}
