.loader-background {
    height: 100vh;
    display: flex;
    background: #fff;
    z-index: 100;
   }

.disable {
    display: none;
}
.loader {
    top: 0;
    left: 0;
    margin-top: 25%;
    margin-left: 50%;
    width: 75px;
    height: 75px;
    // background-color: red;
    border:10px solid #8e0e1f;
    border-radius: 50%;
    border-left-color: #182025;
    animation: loader 1.3s linear infinite;
    z-index: 100;
    position: fixed;
    // background-image: url('images/loader/loader.jpg');
   }
   @keyframes loader {
    100% {
     transform: rotate(360deg);
    }
   }