/* text colors */
$title-color: #ffffff;
$accent-color:#FF001B;
$erorr-text-color:#FF001B;

$film-name: #000;
$film-genre: #ff6b08;
$button-and-after: #ff6b01;
$modal-seconds-text: #8c8c8c;
$footer-bg: #f7f7f7;
$footer-text: #545454;
$modal-bg: #fff;



//Screen sizes
$min-mobile-size: 320px;
$min-tablet-size: 768px;
$min-desktop-size: 1280px;