<footer class="page-footer">
  <div class="container footer">
    <span class="footer-rights"> &copy; 2020 | All Rights Reserved | </span>
    <div class="extra-wrap">
      <span class="footer-developed">Developed with</span>

      <svg width="14" height="13">
        <use href="./images/svg/symbol-defs.svg#icon-favorite"></use>
      </svg>
      <span class="footer-by"
        >by
        <button type="button" class="modal-open">GoIT Students</button></span
      >
    </div>
  </div>
</footer>
