<div class="backdrop-team is-hidden">
  <div class="modal__team">
    <header class="modal__team-header">
      <span class="modal__box">
        <svg class="modal__logo__nezlamni" width="60" height="60">
          <use href="./images/symbol-defs.svg#icon-logo_nezlamni"></use>
        </svg>
        <h3 class="modal__title">DEVELOPMENT TEAM</h3>
      </span>
      <button type="button" class="modal__close">
        <svg class="modal__close-icon" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </header>
    <section class="worker">
      <!-- card-set workers -->
      <ul class="worker__list">
        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/worker-1-desk-min.jpg  1x,
                ./images/foto-developer/worker-1-desk-min.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/worker-1-tab-min.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/worker-1-mob-min.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/worker-1-desk-min.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Vova Plotnikov</h3>
            <p class="worker__position">Team Lead</p>
            <ul class="social">
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://github.com/Vladimir-Plotnikov"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/worker-2-desk-min.jpg  1x,
                ./images/foto-developer/worker-2-desk-min.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/worker-2-tab-min.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/worker-2-mob-min.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/worker-2-desk-min.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Aleksandr Barkulov</h3>
            <p class="worker__position">Tech Lead</p>
            <ul class="social">
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://www.facebook.com/barkulov"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://github.com/sasha1637"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/worker-3-desk-min.jpg  1x,
                ./images/foto-developer/worker-3-desk-min.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/worker-3-tab-min.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/worker-3-mob-min.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/worker-3-desk-min.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Tomm Rodion</h3>
            <p class="worker__position">Developer</p>
            <ul class="social">
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://www.facebook.com/rodion.tomm"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://github.com/tomm-rodion"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/worker-4-desk-min.jpg  1x,
                ./images/foto-developer/worker-4-desk-min.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/worker-4-tab-min.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/worker-4-mob-min.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/worker-4-desk-min.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Sofiia Dorosh</h3>
            <p class="worker__position">Developer</p>
            <ul class="social">
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://ua.linkedin.com/in/sofiia-dorosh-76a732247"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://www.facebook.com/profile.php?id=100008577853022"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://www.instagram.com/sofidorosh/"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://github.com/sofidorosh"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/worker-5-desk-min.jpg  1x,
                ./images/foto-developer/worker-5-desk-min.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/worker-5-tab-min.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/worker-5-mob-min.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/worker-5-desk-min.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Dmytro Halytskyi</h3>
            <p class="worker__position">Developer</p>
            <ul class="social">
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="http://www.linkedin.com/in/dmytro-halytskyi-841629112"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://github.com/dmitrikll"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/worker-6-desk-min.jpg  1x,
                ./images/foto-developer/worker-6-desk-min.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/worker-6-tab-min.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/worker-6-mob-min.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/worker-6-desk-min.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Klimenko Yurii</h3>
            <p class="worker__position">Developer</p>
            <ul class="social">
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://github.com/yuriiklimenko"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/worker-7-desk-min.jpg  1x,
                ./images/foto-developer/worker-7-desk-min.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/worker-7-tab-min.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/worker-7-mob-min.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/worker-7-desk-min.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Elina Mrachkovskaya</h3>
            <p class="worker__position">Developer</p>
            <ul class="social">
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://www.facebook.com/ElieSun26"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://github.com/ElieSun"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/worker-8-desk-min.jpg  1x,
                ./images/foto-developer/worker-8-desk-min.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/worker-8-tab-min.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/worker-8-mob-min.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/worker-8-desk-min.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Viktor Maiboroda</h3>
            <p class="worker__position">Developer</p>
            <ul class="social">
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://www.linkedin.com/in/viktor-maiboroda/"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="#"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://github.com/lumpy-the-moose"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/worker-9-desk-min.jpg  1x,
                ./images/foto-developer/worker-9-desk-min.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/worker-9-tab-min.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/worker-9-mob-min.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/worker-9-desk-min.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Viktoria Baier</h3>
            <p class="worker__position">Developer</p>
            <ul class="social">
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://www.facebook.com/profile.php?id=100004231666453"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://instagram.com/viktoriiabaier?igshid=ZDdkNTZiNTM="
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://github.com/VikiBay"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/worker-10-desk-min.jpg  1x,
                ./images/foto-developer/worker-10-desk-min.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/worker-10-tab-min.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/worker-10-mob-min.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/worker-10-desk-min.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Anna Melnychenko</h3>
            <p class="worker__position">Developer</p>
            <ul class="social">
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://www.linkedin.com/in/anna-melya/"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://github.com/annamelya2021"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/worker-11-desk-min.jpg  1x,
                ./images/foto-developer/worker-11-desk-min.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/worker-11-tab-min.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/worker-11-mob-min.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/worker-11-desk-min.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Irina Bilous</h3>
            <p class="worker__position">Developer</p>
            <ul class="social">
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://github.com/ruskava"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/worker-12-desk-min.jpg  1x,
                ./images/foto-developer/worker-12-desk-min.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/worker-12-tab-min.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/worker-12-mob-min.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/worker-12-desk-min.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Bohdan Klymovskyi</h3>
            <p class="worker__position">Developer</p>
            <ul class="social">
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/worker-13-desk-min.jpg  1x,
                ./images/foto-developer/worker-13-desk-min.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/worker-13-tab-min.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/worker-13-mob-min.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/worker-13-desk-min.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Vadym Kolybchuk</h3>
            <p class="worker__position">Developer</p>
            <ul class="social">
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://www.facebook.com/kolibchyk"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://github.com/vadimvitamin"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/go-it-gesk.jpg  1x,
                ./images/foto-developer/go-it-gesk.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/go-it-tab.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/go-it-mob.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/go-it-gesk.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">GO IT</h3>
            <p class="worker__position">IT school Ukraine</p>
            <ul class="social">
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://ua.linkedin.com/company/goit-start-your-career-in-it?trk=similar-pages"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://www.facebook.com/goITclub/"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://www.instagram.com/goitclub/"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="worker__item">
          <picture>
            <source
              srcset="
                ./images/foto-developer/ukraine.jpg  1x,
                ./images/foto-developer/ukraine.webp 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="./images/foto-developer/ukraine-tab.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/foto-developer/ukraine-mob.jpg 1x"
              media="(min-width:320px)"
            />
            <img
              class="worker__img"
              src="./images/foto-developer/ukraine.jpg"
              width="270"
              height="260"
              alt="foto Developer"
            />
          </picture>
          <div class="worker__card">
            <h3 class="worker__name">Задонатити кошти на ЗСУ</h3>
            <p class="worker__position">Ukraine</p>
            <ul class="social">
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-linkedin"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a
                  class="social__link social__link--color"
                  href="https://www.facebook.com/ukraine/"
                  target="_blank"
                >
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-facebook"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use
                      href="./images/svg/symbol-defs.svg#icon-instagram"
                    ></use>
                  </svg>
                </a>
              </li>
              <li class="social__svg">
                <a class="social__link social__link--color" href="#">
                  <svg class="social__icon" width="20px" height="20px">
                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
