.film-container{
  padding-top: 20px;
  padding-bottom: 40px;
  @media screen and (min-width: $min-tablet-size) {
  padding-top: 60px;
  padding-bottom: 60px;
  }
}

.film-gallery {
  margin-bottom: 40px;
  
 @media screen and (min-width: $min-tablet-size) {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;

   column-gap: 32px;
   row-gap: 32px;
 }

 @media screen and (min-width: $min-desktop-size) {
 column-gap: 16px;
  
 }

 &__title {
   font-family: 'Roboto';
   font-weight: 500;
   font-size: 12px;
   line-height: 1.17;
   text-transform: uppercase;
   color: $film-name;

   @media screen and (min-width: $min-tablet-size) {
     line-height: 1.33;
   }
   @media screen and (min-width: $min-desktop-size) {
     font-size: 20px;
     line-height: calc(24/20);
   }

 }

 &__info{
  flex-grow: 1;
  padding: 12px 5px;
  //  @media screen and (min-width: $min-tablet-size) {
  //   padding: 8px 5px 0px;
  //  }
  //  @media screen and (min-width: $min-desktop-size) {
  //   padding: 12px 5px 0px;
  //  }
 }

 &__text {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 5px;

   font-family: 'Roboto';
   font-weight: 500;
   font-size: 12px;
   line-height: calc(16/12);
   color: $film-genre;

   @media screen and (min-width: $min-desktop-size) {
     font-size: 20px;
     line-height: calc(24/20);
   }
 }

 &__image{
   object-fit: cover;
   border-radius: 5px;
   // transition: transform var(--animation-duration) var(--timing-function);
   @media screen and (min-width: $min-tablet-size) {
     height: 455px;
   }
   @media screen and (min-width: $min-desktop-size) {
     height: 575px;
   }
 }
}

 .film-gallery__item {
display: flex;
flex-direction: column;
width: 280px;
overflow: hidden;
margin: 0 auto;
cursor: pointer;

transition: transform 0.25s linear;
&:not(:last-child){
  margin-bottom: 20px;
}
  
  @media screen and (min-width: $min-tablet-size) {
      margin: 0;

    flex-basis: calc((100% - 32px) / 2);
  }
  @media screen and (min-width: $min-desktop-size) {
    flex-basis: calc((100% - 32px) / 3);
 }
}

 .film-gallery__item:hover {
  transform: scale(1.03);

 }

 .vote-average {
  margin-left: 5px;
  padding: 3px 12px;
  font-size: 12px;
  line-height: calc(14 / 12);

  color: #ffffff;
  background-color: #ff6b08;

  border-radius: 5px;
}

.mylibrary-film-gallery {
  margin-bottom: 0;
}
